/* ------------------------------------ main settings ------------------------------------ */

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body {
	font-size: 12px; 
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
	padding-top: 50px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	margin-top: 0px;
}

h1,h2,h3 {
	font-weight: 100;
}

h4,h5,h6 {
	font-weight: 300;
}

h6 {
	text-transform: uppercase;
}

h1 { font-size: 70px; }
h2 { font-size: 55px; }
h3 { font-size: 45px; }
h4 { font-size: 28px; }
h5 { font-size: 16px; }
h6 { font-size: 11px; }

h1 { margin-bottom: 32px; }
h2 { margin-bottom: 30px; }
h3 { margin-bottom: 24px; }
h4 { margin-bottom: 20px; }
h5 { margin-bottom: 18px; }
h6 { margin-bottom: 11px; }

img {
	display: block;
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

textarea:focus, input:focus, a:focus, a:visited, *:focus {
	outline: none;
}

.inline {
	display: inline;
}

/* ------------------------------------ navigation ------------------------------------ */

#header {
	margin-bottom: 15px;
}

.navbar {
	background: #DCEBE8;
}

.navbar a {
	font-size: 18px;
}

.navbar-fixed-top {
	border: 0;
}

.nav-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	font-size: 12px;
}

.home-background-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url("../images/bg.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.profile-content {
	text-align:center;
	position: absolute;
	top: 38%;
	left: 10%;
	right: 10%;
}

#guest-products .success {
	cursor: pointer !important;
}

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.main {
	padding: 20px;
}

@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

td .select {
	width: 15px;
}

.footer {
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 10px 15px;
	background-color: #DCEBE8;
}

.footer h4 {
	font-size: 24px;
}

.footer img {
	height: 100px;
	margin-top: 20px;
}

.introjs-tooltiptext h5 {
	line-height: 25px !important;
}

#resume {
	margin: 10px 0;
	padding-top: 15px;
}

#new-gift .btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

#views {
	padding-top: 15px;
}

.admin-view {
	padding-top: 20px;
}