<div id="header" ng-include="'app/partials/header.html'"></div>

<div class="container-fluid">

	<div class="col-md-12">

		<tabset id="admin-menu">
			<tab heading="Lista de presentes">

				<div class="row">
					<label>Categoria</label>
					<input type="text" ng-model="gift.category" typeahead="category.name for category in categories | filter:$viewValue | limitTo:8" class="form-control">

					<label>Produto</label>
					<input type="text" ng-model="gift.product" class="form-control"/>
					
					<input type="submit" ng-click="save(gift)" value="Salvar" />
				</div>

				<div class="row">
					<label>Busca</label>
					<input type="search" ng-model="q" placeholder="filtrar" />					
				</div>

				<div class="row">

					<div class="col-md-4">
						<tabset vertical="true" type="pills">
							<tab ng-repeat="category in categories | unique: 'name' | filter:q as results" ng-click="productList(category.name)" heading="{{category.name}}">{{category.name}}</tab>
						</tabset>
					</div>

					<div class="col-md-8">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Descrição</th>
									<th>Disponível</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="product in products | filter:q as results" >
									<th>{{product.name}}</th>
									<th>{{product.available}}</th>									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</tab>

			<tab heading="Lista de convidados">
			</tab>
		</tabset>		
	</div>
</div>