<div id="header" ng-include="'app/scripts/views/header.html'"></div>

<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<div class="form-group">
			<label for="search_label">Busca</label>
			<input type="search" ng-model="q" placeholder="filtrar" class="form-control" id="search_label"/>					
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<accordion close-others="true" id="guest-products">
			<accordion-group heading="Eletro / Eletrônicos">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'eletro' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Cama, mesa e banho">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'kitchen' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Utilidades domésticas">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'utilities' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Decoração">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'decor' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Outros">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'others' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>
		</accordion>

		<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button': 'true'}"></toaster-container>

	</div>
</div>

<script type="text/ng-template" id="selectItem.html">
    <div class="modal-header">
        <h4 class="modal-title">Registrar</h4>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="guest-name">Nome completo *</label>
          <input type="text" class="form-control" id="guest-name" ng-model="fullname" placeholder="Seu nome completo">
        </div>

        <div class="form-group">
          <label for="guest-email">Email</label>
          <input type="email" class="form-control" id="guest-email" ng-model="email" placeholder="meuemail@meuemail.com.br">
        </div>

        <div class="form-group">
        	<label for="guest-phone">Telefone * <small>(somente números)</small></label>
        	<input type="text" ui-mask="999 9999 9999" class="form-control" id="guest-phone" ng-model="phone" >
        </div>

        <div class="form-group">
        	<p class="text-right">Campos com * são obrigatórios</p>
        </div>

      </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Confirmar</button>
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</script>