<div id="header" ng-include="'app/scripts/views/header.html'"></div>


<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<div class="form-group">
			<label for="search_label">Busca</label>
			<input type="search" ng-model="q" placeholder="filtrar" class="form-control" id="search_label"/>					
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<accordion close-others="true" id="guest-products">
			<accordion-group heading="Eletro / Eletrônicos">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'eletro' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Cama, mesa e banho">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'kitchen' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Utilidades domésticas">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'utilities' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Decoração">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'decor' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

			<accordion-group heading="Outros">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="product in products | category: 'others' | filter:q as results" ng-class="{success: product.available}" ng-click="selectItem()">
							<th class="col-md-4">{{product.name}}</th>
							<th class="col-md-8">{{product.description}}</th>
						</tr>
					</tbody>
				</table>
			</accordion-group>

		</accordion>
	</div>
</div>

<script type="text/ng-template" id="selectItem.html">
    <div class="modal-header">
        <h4 class="modal-title">Entrar</h4>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="input-name">Nome completo</label>
          <input type="name" class="form-control" id="input-name" ng-model="text" placeholder="Seu nome completo">
        </div>

        <div class="form-group">
          <label for="login-inputEmail">Email</label>
          <input type="email" class="form-control" id="login-inputEmail" ng-model="email" placeholder="meuemail@meuemail.com.br">
        </div>

      </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="login()" >Entrar</button>
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</script>